.container {
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 16px 0px #;
}
@media screen and (max-width: 767px) {
  .container {
    align-items: center;
  }
}
.contain-container {
  margin-top: 50px;
  height: 80vh;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .contain-container {
    width: 100%;
  }
}
.timer-heading {
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .timer-heading {
    font-size: 30px;
  }
}
.sub-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }
}
.timer-elements-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .timer-elements-container {
    width: 100%;
    height: 200px;
  }
}
.timer-display-container {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  text-align: center;
  font-size: 23px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .timer-display-container {
    width: 120px;
    height: 120px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .timer-display-container {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
}
.timer-time-paragraph {
  margin-bottom: 0px;
}
.timer-time-status {
  margin-top: 0px;
}
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #0f172a;
  font-weight: bold;
  font-family: 'Roboto';
}
.play-icon {
  width: 13%;
  margin-bottom: 0px;
  margin-right: 10px;
  padding-top: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .play-icon {
    height: 30px;
    width: 30px;
  }
}
.timer-setting-container {
  width: 50%;
  height: 200px;
}
.btn-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .btn-container {
    width: 100%;
  }
}
.timer-limit-paragraph {
  text-align: center;
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.timer-plus-minus-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-button {
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #0f172a;
  font-weight: bold;
}
.timer-value {
  background-image: linear-gradient(to right, #cffcf1, #00d9f5);
  padding: 10px 20px 10px 20px;
  color: #0f172a;
  font-weight: bold;
  font-family: 'Roboto';
}
